<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME PAGE</title>
   
</head>
<body>
    <div style="display: flex;justify-content: space-between;">

    <h1>home</h1>
    <div >
      
        <button id="book" style="height: 50px;" onclick=activefn()>On duty</button>
        <button  id="logout" onclick=logoutfn() style="height: 50px;">logout</button>
        <button id="searchbtn" onclick=searchfn() style="height: 50px;">search</button>

    </div>
   

    </div>

 
    <script>
        // import express from "express"
        const logoutbtn = document.querySelector("#logout")
        function logoutfn(){
            location.assign("/login");
        }
        const book = document.querySelector("#book");
        async function activefn(){
            // location.assign("/newbook")
            // alert("activated");
            
            await fetch("/active");
           
        }
        async function searchfn(){
            const currentUrl = window.location.href;
            const [url,did] = currentUrl.split("?");
            const id = did.split("=")[1];
            location.assign(`/request?id=${id}`);
        }
        
    </script>
   
</body>
</html>